{% extends "base.html" %}

{% block cuerpo %}

<div class="row">
<div class="col-m-5 offset-md-4">
    <!-- la tarjeta card-->

    <div class="card"><!--Tarjeta-->
        <div class="card-body">
          <form action="/editarMateria/" method="POST">{% csrf_token %}<!--Formulario-->

            <div class="form-roup">
              <input type="text" id="txtcodigo" name="txtcodigo" class="form-control"
              value="{{mismaterias.codigo}}" minLength="6" maxLength="6" readonly required>
            </div>

            <div class="form-roup py-3">
              <input type="text" id="txtnombre" name="txtnombre" class="form-control"
              value={{mismaterias.nombre}} minLength="6" maxLength="100" required>
            </div>

            <div class="form-roup py-2">
              <input type="text" id="numcreditos" name="numcreditos" class="form-control"
              value="{{mismaterias.creditos}}" min="1" max="9" required>
            </div>

            <div class="form-roup py-2">
              <button type="submit" class="btn btn-primary">Guardar</button>
            </div>


          </form><!--Formulario-->
        </div>
      </div>

    <!-- fin la tarjeta card-->
</div><!--columna-->
</div><!--la fila-->
{% endblock %}